.navbar {
    .nav-item {

    }

    .nav-link {

    }

    .dropdown-menu {
        border: none;
    }

    .dropdown-item {
        background-color: $gray-1000;
    }
}


.singleProduct {
    width: 35rem;
    border-radius: 5px;
}

.sm-img-active {
    border: 3px solid rgba(0, 0, 0, 0.88);
}

.sm-img {
    width: 8rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s;
}

.sm-img:hover {
    filter: brightness(100%) !important;
}

.sm-images-box {
    overflow: scroll;
    max-height: 45rem;
}

.description {
    font-size: 1.1rem;
    text-align: justify;
}

.color-img {
    width: 5rem;
    cursor: pointer;
    border-radius: 2px;
    transition: all .2s;
}



.color-img:hover {
    filter: brightness(100%) !important;
}


.size-square:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
}


.size-square {
    position: relative;
    display: flex;
    align-items: center;
    padding: .6rem 1.2rem;
    border: 1px solid #cacaca;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all .2s;
    color: rgba(0,0,0, .9);
}

.size-square:not(:last-child) {
    margin-right: 1rem;
}
.size-square:hover {

}

.size-square-active:before {
    color: black;
    border-color: black;
}


icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
}

.img_filter {
    transition: all .1s;
    filter: brightness(20%);
}

.quantity {
    display: inline-block; }

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}

.quantity.buttons_added .minus {
    border-right: 0; }

.quantity.buttons_added .plus {
    border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none; }
